body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: salmon;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#journal-button {
    width: 50%;
    margin-top: 10px;
}